 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: red;
 }

 div {
    width: 200px;
    height: 200px;
    background-color: aqua;
 }

 .test {
   background-color: red; 
   width: 200px;
    height: 200px;

 }